# Nestjs specific
/dist
/node_modules
/build
/tmp

# Monorepo builds
apps/*/dist
apps/*/node_modules
apps/*/coverage
packages/*/dist
packages/*/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp

# Coverage
/coverage

# OS
.DS_Store

apps/*/src/generated/prisma
packages/*/src/generated/zod
